body{
    background:#AEE1F9;
    font-family: "Merriweather", serif;  
}


.search-form-input{
    background: #E4E4E4;
    border: 3px solid #87AEDC;
    border-radius: 6px;
    padding: 10px 20px;
    width: 60%;
    font-size: 16px;
}

.search-form-button{
    background: #87AEDC;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    margin-left: 5px;
    color:  #E4E4E4;
    font-weight: bold;
}

footer{
    font-size: 16px;
    border-top: 4px solid #87AEDC; 
    padding: 20px 0;
    text-align: center;
}

