body{
    background:#AEE1F9;
    font-family: "Merriweather", serif;  
}


.search-form-input{
    background: #E4E4E4;
    border: 3px solid #87AEDC;
    border-radius: 6px;
    padding: 10px 20px;
    width: 60%;
    font-size: 16px;
}

.search-form-button{
    background: #87AEDC;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    margin-left: 5px;
    color:  #E4E4E4;
    font-weight: bold;
}

main{ 
    display: block;
    margin: 50px 0;
}

.city-name{
    text-align: center;
}

.country-name{
    text-align: center;
}

.current-date-time{
    text-align: center;
}

.weather-data{
    display: flex;
    justify-content: space-around;
}

.weather-icon{
    font-size: 200px;
}

.weather-specifics{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 10px 50px;
    margin: 30px 0;
}

.temperature-container{
    display: flex;

}

.temperature-value{
    font-size: 80px;
}

.temperature-unit{
    font-size: 30px;
    margin-top: 16px;

}

.weather-descriptor{
    font-size: 20px;
}

strong{
    color: #FFC759;
}



footer{
    font-size: 16px;
    border-top: 4px solid #87AEDC; 
    padding: 20px 0;
    text-align: center;
}

